
.light {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.light .event {
    -fx-background-color: #FFAE42
}

.dark {
    -fx-background-color: #333;
}

.dark .event {
    -fx-background-color: #044812;
}

.dark .label {
    -fx-text-fill: #fff;
}

.dark .button {
    -fx-background-color: #555;
    -fx-text-fill: #fff;
}

.dark .radio-button {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
}

.dark .combo-box {
    -fx-background-color: #777;
    -fx-text-fill: #fff;
}

.dark .combo-box > .list-cell {
    -fx-text-fill: #fff;
}

.light .circle {
    -fx-fill: #0000FF;
}

.dark .circle {
    -fx-fill: #19ff00;
}

.dark .context-menu {
    -fx-background-color: #777;
}
